
header {
    width: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    height: 44px; 
} 

.logo {
    margin-top: 20px; 
    margin-left: 40px; 
} 

.info {
    margin-top: 32px; 
}
.heart {
width: 12px;
height: 11px;
margin-top: 35px;
margin-right: 40px;
}
header ul li{
display: inline;
font-family: "Roboto";
font-size: 24px;
font-weight: 300;
line-height: 19.2px;
margin: 10px;
letter-spacing: -0.01em;
list-style-type: none;
cursor: pointer;
}
header ul {
    margin-top: 30px;
}